.dashboardHome{
    display: grid;
    gap: 20px 0;
}

.dashboardHome--header{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    height: 180px;
}

.data-card{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.porcetage{
    font-size: 4.3rem;
    line-height: 2.3rem;
    font-weight: bold;
}

.title-card {
    font-size: 1.8rem;
    font-weight: 500;
}

.dashboardHome--body{
    display: inherit;
    height: 250px;
    gap: 0 10px;
    grid-template-columns: auto calc(25% - 10px);
}

.dashboardHome--body:nth-last-child {
    background-color: blueviolet;
}

.alert-box {
    display: flex;
    align-items: center;
    border: 3px solid red;
    border-radius: 12px;
    padding: 12px 20px;
    margin-bottom: 10px;
    max-width: 300px;
    background-color: white;
  }
  
  .alert-icon {
    color: red;
    font-size: 32px;
    margin-right: 10px;
  }
  
  .alert-text {
    font-size: 20px;
    font-weight: bold;
    color: red;
  }
  