.formtemplateinformation {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.tag {
    display: flex;
    gap: 2px;
    background-color: #eaebec;
    color: #414141;
    border-radius: 5px;
    padding: 3px 5px;
}

.tag--active {
    display: flex;
    gap: 2px;
    background-color: #e6f1ff;
    color: var(--color-primary-blue);
    border-radius: 5px;
    padding: 3px 5px;
    font-weight: 600;
}