:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary-blue: #0F1B40;
  --color-warning-orange: #F79604;
  --color-info-blue: #05BAC6;
  --color-succes-green: #7DAF08;
  --color-danger-red: #D81D1A;
  --color-white: #fff;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  font-weight: 600;
}

input {
  outline: none;
  background-color: #ebebeb;
  padding: 5px 10px;
  border: none;
  font-size: 1rem;
  border-radius: 3px;
  accent-color: var(--color-primary-blue);
  border: 1px solid transparent;
}

input:focus {
  transition: 1s all;
  border: 1px solid var(--color-primary-blue);
}

input[type="color"] {
  border: 1px solid red;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

input[type="checkbox"]{
  cursor: pointer;
}

input[type="file"]{
  border: none;
  background: transparent;
}

input[type="file"]::file-selector-button {
  font-weight: bold;
  color: var(--color-primary-blue);
  padding: 0.5em;
  border: thin solid #8b8b8b;
  border-radius: 3px;
}

button:disabled{
  background-color: #afafaf;
  color: #8b8b8b;
  cursor: default;
}

button {
  border-radius: 5px;
  font-size: 1.2rem;
  border: none;
  padding: 4px 10px;
  background-color: var(--color-primary-blue);
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.25s;
}

select {
  border-radius: 2px;
  border: 1px solid #ccc;
  outline: none;
}

.error{
  color: var(--color-danger-red);
  font-weight: 600;
}

/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */